[Unit]
Description=docker boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/ubuntu/rails-meal_plan/meal_plan
ExecStart=/usr/bin/docker-compose -f /home/ubuntu/rails-meal_plan/meal_plan/docker-compose.yml up -d --remove-orphans

[Install]
WantedBy=multi-user.target
